<style>
    ::-webkit-input-placeholder {
        color: #fff;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: #fff;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        color: #fff;
    }

    :-ms-input-placeholder {
        color: #fff;
    }
</style>

@if (Request.IsAuthenticated)
{    <ul class="nav navbar-nav navbar-right">
         <li>@Html.ActionLink("Log Out", "LogOut", "Accounts", routeValues: null, htmlAttributes: new { id = "logout" })</li>
    </ul> 
}
else
{
    <ul class="nav navbar-nav navbar-right">        
        <li>@Html.ActionLink("Log in", "LogIn", "Accounts", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
