@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center" style="margin-top:20%">
    <h1>BOOM ! O_O</h1>
</div>

<!-- Modal Logic for Data Base selection and connection-->
<div class="modal fade" id="connectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Select a Data Base</h4>
            </div>
            <div class="modal-body text-center">
                <select id="selectDBConnection" class="form-control">
                    <option value="BookRental">First DB</option>
                    <option value="SecondBookRental">Second DB</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnConnect" class="btn btn-primary">Connect</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#connectionModal").modal("show");

        $("#btnConnect").on("click", function () {
            var result = setMyConnection()
            if (result) {
                $('#connectionModal').modal('hide');
                $('body').removeClass('modal-open');
            }
        })
    });

    function setMyConnection() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("setConnection", "Connection")",
            data: JSON.stringify({
                DataBaseName: $("#selectDBConnection").val()
            }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log('Got it!');

                @{
                    //If the user is in Session, just go to books, else go to login page 
                    //(This logic only works if the DB have shared session, if this is not the case, kill the session and make the user login again.)
                    if (Request.IsAuthenticated)
                    {
                         @:var url = '@Url.Action("Index", "Books")';
                    }
                    else
                    {
                         @:var url ='@Url.Action("LogIn", "Accounts")';
                    }
                }
                window.location = url;

                return true;
            },
            error: function () {
                alert('ERRORRRR ! ! ! ! !  D:!');
                return false;
            }
        });
    }
</script>